<div class="col-lg-3 pd-right-none no-pd">
    <div class="right-sidebar">
        <!--widget-about end<div class="widget widget-about">
            <img src="{{ asset('theme') }}\images\wd-logo.png" alt="">
            <h3>Track Time on Workwise</h3>
            <span>Pay only for the Hours worked</span>
            <div class="sign_link">
                <h3><a href="#" title="">Sign up</a></h3>
                <a href="#" title="">Learn More</a>
            </div>
        </div>--><!--widget-about end-->
        <div class="widget widget-jobs">
            <div class="sd-title">
                <h3>Top Jobs</h3>
                <i class="la la-ellipsis-v"></i>
            </div>
            <div class="jobs-list">
                <div class="job-info">
                    <div class="job-details">
                        <h3>Senior Product Designer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                        <span>$25/hr</span>
                    </div>
                </div><!--job-info end-->
                <div class="job-info">
                    <div class="job-details">
                        <h3>Senior UI / UX Designer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                        <span>$25/hr</span>
                    </div>
                </div><!--job-info end-->
                <div class="job-info">
                    <div class="job-details">
                        <h3>Junior Seo Designer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                        <span>$25/hr</span>
                    </div>
                </div><!--job-info end-->
                <div class="job-info">
                    <div class="job-details">
                        <h3>Senior PHP Designer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                        <span>$25/hr</span>
                    </div>
                </div><!--job-info end-->
                <div class="job-info">
                    <div class="job-details">
                        <h3>Senior Developer Designer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                        <span>$25/hr</span>
                    </div>
                </div><!--job-info end-->
            </div><!--jobs-list end-->
        </div><!--widget-jobs end-->
        <div class="widget widget-jobs">
            <div class="sd-title">
                <h3>Most Viewed This Week</h3>
                <i class="la la-ellipsis-v"></i>
            </div>
            <div class="jobs-list">
                <div class="job-info">
                    <div class="job-details">
                        <h3>Senior Product Designer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                        <span>$25/hr</span>
                    </div>
                </div><!--job-info end-->
                <div class="job-info">
                    <div class="job-details">
                        <h3>Senior UI / UX Designer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                        <span>$25/hr</span>
                    </div>
                </div><!--job-info end-->
                <div class="job-info">
                    <div class="job-details">
                        <h3>Junior Seo Designer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                        <span>$25/hr</span>
                    </div>
                </div><!--job-info end-->
            </div><!--jobs-list end-->
        </div><!--widget-jobs end-->
        <div class="tags-sec full-width">
            <ul>
                <li><a href="#" title="">Help Center</a></li>
                <li><a href="#" title="">About</a></li>
                <li><a href="#" title="">Privacy Policy</a></li>
                <li><a href="#" title="">Community Guidelines</a></li>
                <li><a href="#" title="">Cookies Policy</a></li>
                <li><a href="#" title="">Career</a></li>
                <li><a href="#" title="">Language</a></li>
                <li><a href="#" title="">Copyright Policy</a></li>
            </ul>
            <div class="cp-sec">
                <img src="{{ asset('theme') }}\images\logo2.png" alt="">
                <p><img src="{{ asset('theme') }}\images\cp.png" alt="">Copyright 2017</p>
            </div>
        </div><!--tags-sec end-->
    </div><!--right-sidebar end-->
</div>