{% extends 'base.html.twig' %}

{% block title %}Edit Research{% endblock %}

{% block body %}
    <h1>Edit Research</h1>

    {{ include('research/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('research_index') }}">back to list</a>

    {{ include('research/_delete_form.html.twig') }}
{% endblock %}
