{% extends 'base.html.twig' %}

{% block title %}Messages index{% endblock %}

{% block body %}
    <section class="messages-page">
        <div class="container">
            <div class="messages-sec">
                <div class="row">
                    <div class="col-lg-4 col-md-12 no-pdd">
                        <div class="msgs-list">
                            <div class="msg-title">
                                <h3>Messages</h3>
                                <ul>
                                    <li><a href="#" title=""><i class="fa fa-cog"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-ellipsis-v"></i></a></li>
                                </ul>
                            </div><!--msg-title end-->
                            <div class="messages-list">
                                <ul>
                                    {% for user in muser %}
                                        <li>
                                            <a href="{{ path('messages_user', {'id': user[0].id}) }}"><div class="usr-msg-details">
                                                    <div class="usr-ms-img">
                                                        <img src="{{ asset('uploads') }}/{{ user[0].image }}" alt="">
                                                    </div>
                                                    <div class="usr-mg-info">
                                                        <h3>{{ user[0].name }}</h3>
                                                        <p></p>
                                                        <!--<p>Vestibulum ac diam..</p>-->
                                                    </div><!--usr-mg-info end-->
                                                    <span class="posted_time">1:55 PM</span>
                                                </div><!--usr-msg-details end--></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div><!--messages-list end-->
                        </div><!--msgs-list end-->
                    </div>
                    <div class="col-lg-8 col-md-12 pd-right-none pd-left-none">
                        <div class="main-conversation-box">
                            <div class="messages-line">

                            </div><!--messages-line end-->
                        </div><!--main-conversation-box end-->
                    </div>
                </div>
            </div><!--messages-sec end-->
        </div>
    </section><!--messages-page end-->
{% endblock %}
